{% extends 'base.html' %}

{% block content %}
    <h1>Librería</h1>
    <p>
        <a href="{% url 'Nuevo_Libro' %}">Nuevo libro</a>
        <a href="{% url 'Disponibles' %}">Listado Disponibles</a>
        <a href="{% url 'Prestados' %}">Mis Libros</a>
    </p>
    <ul>
        {% for libro in object_list %}
            <li>
                <p><a href="{% url 'Libro' pk=libro.pk %}">{{ libro.titulo }}</a></p>
                <p><img style="height: 20em;" src="{{ libro.portada.url }}" alt="portada de {{ object.titulo }}"></p>
            </li>
            {% empty %}
            <li>No hay libros</li>
        {% endfor %}
    </ul>
{% endblock %}