{% extends 'base.html' %}

{% block content %}
    <h1>Librería Disponibles</h1>
    <h2>Disponibles</h2>
    <ul>
        {% for libro in object_list %}
            <li>
                <p>{{ libro.titulo }} <a href="{% url 'Prestar_Libro' pk=libro.pk %}">Prestamo</a></p>
                <p><img style="height: 20em;" src="{{ libro.portada.url }}" alt="portada de {{ object.titulo }}"></p>
            </li>
            {% empty %}
            <li>No hay libros disponibles</li>
        {% endfor %}
    </ul>
{% endblock %}